*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: gray;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
}

ul {
  list-style: none;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
}

h4 {
  font-size: 1.2rem;
  margin: .4rem auto;
}

.heading {
  color: #f7f7f7;
  margin-bottom: 2.2rem;
}

.left-headers {
  align-items: flex-end;
  display: flex;
  flex: 1;
  padding-bottom: 1rem;
}

.right-headers {
  align-items: flex-end;
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  height: 100%;
  justify-content: flex-end;
}

.head-container {
  height: 25%;
}

.nav {
  background-color: #0E3465;
  color: #f7f7f7;
  display: flex;
  height: 80%;
  justify-content: center;
  margin-bottom: 3rem;
}

.article {
  display: flex;
}

.head-span {
  font-size: 1.3rem;
  letter-spacing: .2rem;
  margin-left: 1rem;
}

.name {
  font-size: 1.7rem;
  margin: .2rem auto;
}

.probowl {
  color: #FF5733;
}

.next-icon {
  position: absolute;
  height: 7%;
  width: 7%;
  margin: .3rem;
}

.next-icon:hover {
  transform: scale(1.1);
}

.nfl-icon {
  height: 70%;
  margin-right: 1rem;
  width: 10%;
}

.players {
  height: 40%;
  object-fit: cover;
  width: 100%;
}

.college {
  background-color: #C8C7C7;
  font-size: 1.5rem;
  margin: .7rem auto;
}

.admin-span {
  display: flex;
  justify-content: flex-end;
  padding: .3rem;
}

.profiles {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 100vh;
  margin: 0 auto;
  grid-template-areas:
  "pone ptwo pthree pfour"
  "pone ptwo pthree pfour"
  "pone ptwo pthree pfour"
  "pfive psix pseven peight"
  "pfive psix pseven peight"
  "pfive psix pseven peight";
}

.person1 {
 background-color: white;
 grid-area: pone;
}

.person2 {
  background-color: white;
  grid-area: ptwo;
}

.person3 {
  background-color: white;
  grid-area: pthree;
}

.person4 {
  background-color: white;
  grid-area: pfour;
}

.person5 {
  background-color: white;
  grid-area: pfive;
}

.person6 {
  background-color: white;
  grid-area: psix;
}

.person7 {
  background-color: white;
  grid-area: pseven;
}

.person8 {
  background-color: white;
  grid-area: peight;
}

.header-icons {
  height: 20%;
  margin-right: 1rem;
  width: 5%;
}

.header-icons:hover {
  transform: scale(1.1);
}

.profile-icon {
  height: 15%;
  width: 4%;
}

.profile-icon:hover {
  transform: scale(1.1);
}

.head-span:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 950px) {

.profiles {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 100vh;
  margin: 0 auto;
  grid-template-areas:
  "pone pseven"
  "pthree pfour"
  "pfive psix"
  "ptwo peight";
  }

  ul {
    padding-bottom: 0;
  }

  li {
    margin: .5rem;
  }
  
  span {
    margin: .7rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  .name {
    font-size: 2rem
  }

  .probowl {
    font-size: 2rem;
  }

  .college {
    font-size: 2rem;
  }

  .nfl-icon {
    height: 70%;
    width: 20%;
  }

  .header-icons {
    width: 7%;
    height: 30%;
  }

  .profile-icon {
   height: 20%;
   width: 8%;
  }

  .head-span {
   font-size: .8rem;
   letter-spacing: 0;
   margin-left: .3rem;
  }
}

@media screen and (max-width: 690px) {
  .profiles {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 100vh;
  margin: 0 auto;
  grid-template-areas:
  "pone" 
  "ptwo"
  "pthree" 
  "pfour"
  "pfive"
  "psix"
  "pseven" 
  "peight";
  }

  ul {
    padding-bottom: 0;
  }

  .profile-icon {
    height: 30%;
    padding-bottom: 1.1rem;
    width: 20%;
  }

  .right-headers {
    display: flex;
    flex-direction: column;
  }

  .left-headers {
    justify-content: space-around; 
  }

  .head-container {
    margin-bottom: 0;
  }

  .nfl-icon {
    height: 90%;
    width: 40%;
  }

  .nav {
    margin-bottom: 1rem;
  }

  .heading {
    margin-top: 0;
  }

  .next-icon {
    height: 15%;
    margin-left: .5rem;
    width: 15%;
  }

  .head-span {
    display: none;
    font-size: .5rem
  }
  
  .header-icons {
    height: 50%;
    width: 20%;
  }

  .admin-span {
    align-items: flex-end;
    display: flex;
    justify-content: flex-start;
  }
  
}

@media screen and (max-width: 480px) {
  .profile-icon {
   padding-bottom: 1.9rem;
  }
}

@media screen and (max-width: 360px) {
  .profile-icon {
   padding-bottom: 1.4rem;
  }
}


